<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/ ">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" href="css/Css.css" type="text/css" media="all"/>

    <script>
        function fctmult() {
            var x = document.getElementById("tabc");
            var y = document.getElementById("tabr");
            if (x.style.display === "block") {
                x.style.display = "none";
                y.style.display = "block"
            } else {
                x.style.display = "block";
                y.style.display = "none";
            }
        }

        function fctuniq() {
            var x = document.getElementById("tabr");
            var y = document.getElementById("tabc");
            if (x.style.display === "block") {
                x.style.display = "none";
                y.style.display = "block";
                m.val('');
            } else {
                x.style.display = "block";
                y.style.display = "none";
            }
        }
    </script>
</head>
<body>
<!-- ************** Modifier Question *************** -->


<div class="card">
    <form action="/GererQs" method="post" enctype="multipart/form-data">
        <input type="hidden" name="idQs" th:value="${idQs}">

        <input class="text" placeholder="Question" name="question" type="text" th:value="${question}" required="">
        <br/><br/>
        <input class="text" placeholder="Nombre point" name="nbrpoint" th:value="${nbrpoint}" type="number" required="">
        <br/><br/>

        <input type="radio" name="choix" value="0" onchange="fctuniq()" th:checked="${cu}">choix Unique
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="choix" value="1" onchange="fctmult()" th:checked="${cm}">choix Multiple
        <br/>
        <div id="tabr">
            <table style="width: 100%">
                <tr>
                    <td><p>Correct</p></td>
                    <td><p>Proposition</p></td>
                </tr>
                <tr>
                    <td><input type="radio" name="correcte" value="1" th:checked="${cu1}"></td>
                    <td><input class="textt" placeholder="Proposition 1" th:value="${rep1}" name="proposition1"
                               type="text" style="width: 70%"></td>
                </tr>
                <tr>
                    <td><input type="radio" name="correcte" value="2" th:checked="${cu2}"></td>
                    <td><input class="textt" placeholder="Proposition 2" th:value="${rep2}" name="proposition2"
                               type="text" style="width: 70%"></td>
                </tr>
                <tr>
                    <td><input type="radio" name="correcte" value="3" th:checked="${cu3}"></td>
                    <td><input class="textt" placeholder="Proposition 3" th:value="${rep3}" name="proposition3"
                               type="text" style="width: 70%"></td>
                </tr>
                <tr>
                    <td><input type="radio" name="correcte" value="4" th:checked="${cu4}"></td>
                    <td><input class="textt" placeholder="Proposition 4" th:value="${rep4}" name="proposition4"
                               type="text" style="width: 70%"></td>
                </tr>
            </table>
            <br/>
        </div>

        <div id="tabc" style="display: none">
            <table style="width: 100%">
                <tr>
                    <td><p>Correct</p></td>
                    <td><p>Proposition</p></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="correctec" value="1" th:checked="${cm1}"></td>
                    <td><input class="textt" placeholder="Proposition 1" th:value="${rep1}" name="propositionc1"
                               type="text" style="width: 70%"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="correctec" value="2" th:checked="${cm2}"></td>
                    <td><input class="textt" placeholder="Proposition 2" th:value="${rep2}" name="propositionc2"
                               type="text" style="width: 70%"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="correctec" value="3" th:checked="${cm3}"></td>
                    <td><input class="textt" placeholder="Proposition 3" th:value="${rep3}" name="propositionc3"
                               type="text" style="width: 70%"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="correctec" value="4" th:checked="${cm4}"></td>
                    <td><input class="textt" placeholder="Proposition 4" th:value="${rep4}" name="propositionc4"
                               type="text" style="width: 70%"></td>
                </tr>
            </table>
            <br/>
        </div>


        <input class="btns" type="submit" name="modifier" value="Modifier">
        <input class="btnr" type="reset" value="réinitialiser"><br/>
    </form>
</div>


<!-- ************ Liste question ************ -->

<div class="cardl" th:each="lstQs: ${LstQs}">


    <form action="/GererQs" method="post" enctype="multipart/form-data">
        <input type="hidden" name="idModule" th:value="${lstQs.idModule}">
        <input type="hidden" name="idQs" th:value="${lstQs.idQuestion}">

        <h4 th:text="${lstQs.question}" style="margin: 1px">titre de Question</h4><br/>
        <h5 th:text="${lstQs.reponse1}" style="margin-left: 70px">rep1</h5><br/>
        <h5 th:text="${lstQs.reponse2}" style="margin-left: 70px">rep2</h5><br/>
        <h5 th:text="${lstQs.reponse3}" style="margin-left: 70px">rep3</h5><br/>
        <h5 th:text="${lstQs.reponse4}" style="margin-left: 70px">rep4</h5><br/>
        <br/>
        <button type="submit" name="mod" class="btnm"> Modifier</button>
        <button type="submit" name="supprimer" class="btnd">Supprimer</button>
        </p>

    </form>

</div>


</body>
</html>